In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import Dataset

In [2]:
data=pd.read_csv('E:\practice\Heart_failure_clinical_records_dataset.csv')
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

# Split the target from Data

In [4]:
X=data.drop('DEATH_EVENT',axis=1)
y=data['DEATH_EVENT']

# Data Pre-Processing

In [5]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
cols = list(X.columns)
scaler = preprocessing.StandardScaler()
df= scaler.fit_transform(X)
df = pd.DataFrame(df, columns=cols)  
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1.192051,-0.871105,0.000166,-0.847579,-1.530560,1.359272,1.681648e-02,0.490057,-1.504036,0.735688,-0.687682,-1.629502
1,-0.491309,-0.871105,7.514640,-0.847579,-0.007077,-0.735688,7.535660e-09,-0.284552,-0.141976,0.735688,-0.687682,-1.603691
2,0.350371,-0.871105,-0.449939,-0.847579,-1.530560,-0.735688,-1.038073e+00,-0.090900,-1.731046,0.735688,1.454161,-1.590785
3,-0.912148,1.147968,-0.486071,-0.847579,-1.530560,-0.735688,-5.464741e-01,0.490057,0.085034,0.735688,-0.687682,-1.590785
4,0.350371,1.147968,-0.435486,1.179830,-1.530560,-0.735688,6.517986e-01,1.264666,-4.682176,-1.359272,-0.687682,-1.577879
...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.097867,-0.871105,-0.537688,1.179830,-0.007077,1.359272,-1.109765e+00,-0.284552,1.447094,0.735688,1.454161,1.803451
295,-0.491309,-0.871105,1.278215,-0.847579,-0.007077,-0.735688,6.802472e-02,-0.187726,0.539054,-1.359272,-0.687682,1.816357
296,-1.332988,-0.871105,1.525979,1.179830,1.854958,-0.735688,4.902082e+00,-0.575031,0.312044,-1.359272,-0.687682,1.906697
297,-1.332988,-0.871105,1.890398,-0.847579,-0.007077,-0.735688,-1.263389e+00,0.005926,0.766064,0.735688,1.454161,1.932509
298,-0.912148,-0.871105,-0.398321,-0.847579,0.585389,-0.735688,1.348231e+00,0.199578,-0.141976,0.735688,1.454161,1.997038

# spliting test and training sets

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(df,y,test_size=0.25,random_state=7)

# Buliding SVM Model

In [40]:
from sklearn.svm import SVC 
from sklearn.metrics import classification_report

In [41]:
model=SVC()
model.fit(df,y)
y_pred=model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      1.00      0.97        57
           1       1.00      0.78      0.88        18

    accuracy                           0.95        75
   macro avg       0.97      0.89      0.92        75
weighted avg       0.95      0.95      0.94        75

In [42]:
model2 = SVC(kernel='rbf') 
model2.fit(X_train, y_train) 
y_pred = model2.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93        57
           1       0.86      0.67      0.75        18

    accuracy                           0.89        75
   macro avg       0.88      0.82      0.84        75
weighted avg       0.89      0.89      0.89        75

In [43]:
model3 = SVC(kernel='sigmoid') 
model3.fit(X_train, y_train) 
y_pred = model3.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90        57
           1       0.68      0.72      0.70        18

    accuracy                           0.85        75
   macro avg       0.80      0.81      0.80        75
weighted avg       0.86      0.85      0.85        75

In [44]:
model4 = SVC(kernel='poly') 
model4.fit(X_train, y_train) 
y_pred = model4.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      1.00      0.91        57
           1       1.00      0.39      0.56        18

    accuracy                           0.85        75
   macro avg       0.92      0.69      0.74        75
weighted avg       0.88      0.85      0.83        75

In [45]:
model5 = SVC(kernel='linear') 
model5.fit(X_train, y_train) 
y_pred = model5.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88        57
           1       0.61      0.61      0.61        18

    accuracy                           0.81        75
   macro avg       0.74      0.74      0.74        75
weighted avg       0.81      0.81      0.81        75